.timer{
    border: 3px solid #222;
    background: #333;
    color: white;
    text-align: center;
    position: relative;
}

.time, .total_time{
    mix-blend-mode: difference;
}

.color{
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.flipper{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.timer_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
