.timer{
    border: 5px solid red;
    background: #333;
    color: #ddd;
}

.timer_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
